[Unit]
Description=HELPING HAND BOT
After=network.target

[Service]
User=root
Restart=always
WorkingDirectory=/root/hh/bot/
ExecStart=/usr/bin/python3 /root/hh/bot/main.py

[Install]
WantedBy=multi-user.target